<?xml version ="1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Sute">
    <test name="test1">

        <classes>
            <class name="test.reader.TextReaderTest" />
            <class name="test.parsers.CharacterParserTest" />
            <class name="test.parsers.WordParserTest" />
            <class name="test.parsers.SenteceParserTest" />
            <class name="test.parsers.ParagraphParserTest" />
            <class name="test.comporators.TextCoparatorToWorldTest" />

            </classes>
    </test>
</suite>