/task1/untitled.iml
/task1/.idea
/task1/lib/
/task1/logs/
/task1/out/
/task2/task2.iml
/task2/.idea
/task2/lib/
/task2/logs/
/task2/out/
/DemoThreads/DemoThreads.iml
/DemoThreads/out
/DemoThreads/data
/DemoThreads/.idea
/task3/task3.iml
/task3/.idea
/task3/lib/
/task3/logs/
/task3/out/
/task4/task4.iml
/task4/.idea
/task4/lib/
/task4/logs/
/task4/out/
/task4/target/