<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="patternfull">
            %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{5} - %msg%n
        </Property>
        <Property name="patternshort">
            %d{HH:mm:ss.SSS} [%t] %-5level %logger{1} - %msg%n
        </Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${patternshort}" />
        </Console>

        <File name="parsersFile" fileName="logs/parserLogs.log" bufferedIO="true">
            <PatternLayout pattern="${patternfull}" />
        </File>

        <File name="sorterFile" fileName="logs/sorterLogs.log" bufferedIO="true">
            <PatternLayout pattern="${patternfull}" />
        </File>


    </Appenders>

    <Loggers>

        <Logger name="by.training.task2.Parser" level="debug"
                additivity="true">
               <AppenderRef ref="parsersFile" />
        </Logger>

        <Logger name="by.training.task2.Counter" level="debug"
                additivity="true">
               <AppenderRef ref="parsersFile" />
               <AppenderRef ref="Console" />

        </Logger>


        <Logger name="by.training.task2.Sorter" level="debug"
                additivity="true">
            <AppenderRef ref="Console" />
            <AppenderRef ref="sorterFile" />
        </Logger>




        <!-- Root Logger -->
        <Root level="all">
            <!--<AppenderRef ref="Console" />
            <AppenderRef ref="TxtFile" />-->
        </Root>
    </Loggers>


</Configuration>